<ion-content>
  <div class="layer">
    <div style="padding-top: 80px" align="left">
      <img src="https://github.com/avillanueva047/DeliverX_Movil/blob/master/logo_with_title_trasnparent_white_notitle.png?raw=true" width="150px" height="150px">
    </div>

    <div style="padding-left: 40px">
      <ion-text color="light">
        <h1 class="title" style="font-family: verdana">
          <p>Your packages</p>
          <p>will never be</p>
          <p>late again</p>
        </h1>
      </ion-text>
    </div>

    <div style="padding-left: 40px; padding-right: 40px; padding-top: 40px" align="center">
      <ion-button class="button" fill="outline" shape="round" expand="block" size="default" color="warning" (click)="login()">
        Sign In
      </ion-button>
    </div>

  </div>
</ion-content>
