<ion-content>
  <div class="layer">
    <div style="padding-top: 100px" align="center">
      <img src="https://github.com/avillanueva047/DeliverX_Movil/blob/master/logo_with_title_trasnparent_white.png?raw=true" width="200px" height="200px">
    </div>
    <div style="padding-left: 120px">
      <ion-text color="light">
        <h1 class="title">
          <p>Your packages</p>
          <p>will never be</p>
          <p>late again</p>
        </h1>
      </ion-text>
    </div>
    <div style="padding-left: 40px; padding-right: 40px; padding-top: 30px" align="center">
      <ion-button class="button" fill="outline" shape="round" expand="block" size="default" color="warning" (click)="login()">
        Sign In
      </ion-button>
    </div>
  </div>
</ion-content>
