ion-content{
  --background: url('https://cdn.motor1.com/images/mgl/18QwK/s1/mercedes-benz-sprinter-delivery-van.jpg') no-repeat center;
}
.layer {
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title{
  font-size: 2em;
  height: 200;
}
