<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title style="font-family: verdana">
            <img src="https://github.com/avillanueva047/DeliverX_Movil/blob/master/logo_with_title_trasnparent_white_vertical.png?raw=true"
            height="30px">
            <!--<ion-label style="padding-left: 20px; padding-bottom: 20px">DeliverX</ion-label>-->
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list style="padding-top: 0px; padding-bottom: 0px">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item lines="none" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label style="font-family: verdana">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item lines="none" (click)="logout()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label style="font-family: verdana">
              Logout
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
