ion-toolbar {
  --background: rgba(80, 80, 80, 1);
  --color: #ffca0c
}

ion-content{
  --background: rgba(80, 80, 80, 1);
}

ion-item {
  --background: rgba(80, 80, 80, 1);
  --color: #ffca0c
}

ion-menu {
  --background: rgba(80, 80, 80, 1);
}

ion-header {
  --background: rgba(80, 80, 80, 1)
}

ion-icon {
  color: #ffca0c
}
