ion-toolbar {
  --background: rgba(80, 80, 80, 1);
  --color: #ffca0c
}

ion-content{
  --background: rgba(80, 80, 80, 1);
}

ion-item {
  --background: rgba(80, 80, 80, 1);
  --color: #ffca0c;
  --min-height: 80px;
}

.direction {
  font-size: 12px;
  color: #ffca0c
}
