<ion-content padding>
  <div class="layer">
    <!--
    <div style="padding-left: 40px; padding-top: 60px">
      <ion-text color="dark">
        <h1 class="title" style="font-family: verdana">
          <p>Login</p>
        </h1>
      </ion-text>
    </div>
    -->
  <div align="center" style="padding-top: 60px">
    <img src="https://github.com/avillanueva047/DeliverX_Movil/blob/master/logo_with_title_trasnparent_black_white.png?raw=true" width="150px" height="150px">
  </div>

  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <div>
      <div style="padding-left: 40px; padding-right: 40px; padding-top: 40px">
        <ion-item class="email">
          <ion-label style="font-family: verdana" position="floating">Email</ion-label>
          <ion-input style="font-family: verdana" ngModel type="email" name="email"></ion-input>
        </ion-item>
      </div>

      <div style="padding-left: 40px; padding-right: 40px">
        <ion-item>
          <ion-label style="font-family: verdana" position="floating">Password</ion-label>
          <ion-input style="font-family: verdana" ngModel type="password" name="password"></ion-input>
        </ion-item>
      </div>
    </div>

    <div style="padding-left: 40px; padding-right: 40px; padding-top: 80px" align="center">
      <ion-button color="dark" shape="round" fill="outline" type="submit" expand="block">Login</ion-button>
    </div>

    <div style="padding-top: 40px" align="center">
        <a class="link" (click)="resetModal()" text-right>
          Forgot Password?
        </a>
    </div>
  </form>

  </div>
  <!--
  <p text-center>
    Don't have a account
  </p>
  <ion-button expand="full" color="danger" (click)="registerModal()">
    Register
  </ion-button>
  -->
</ion-content>
