<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Repartos Pendientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <table>
    <tr>
      <th>id</th>
      <th>delivery_name</th>
      <th>deliver_name</th>
    </tr>
    <tr *ngFor="let delivery of deliveries;">
      <td>{{delivery.id}}</td>
      <td>{{delivery.delivery_name}}</td>
      <td>{{delivery.deliver_name}}</td>
    </tr>
  </table>
</ion-content>
