<ion-content>
  <div class="layer">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Change Password
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <div align="center" style="padding-top: 60px">
      <img src="https://github.com/avillanueva047/DeliverX_Movil/blob/master/logo_with_title_trasnparent_black_white.png?raw=true" width="150px" height="150px">
    </div>

    <form #form="ngForm" (ngSubmit)="changePassword(form)" method="post">
      <div>
        <div style="padding-left: 40px; padding-right: 40px; padding-top: 40px">
          <ion-item class="email">
            <ion-label style="font-family: verdana" position="floating">Current Password</ion-label>
            <ion-input style="font-family: verdana" ngModel type="password" name="password"></ion-input>
          </ion-item>
        </div>

        <div style="padding-left: 40px; padding-right: 40px">
          <ion-item>
            <ion-label style="font-family: verdana" position="floating">New Password</ion-label>
            <ion-input style="font-family: verdana" ngModel type="password" name="new_password"></ion-input>
          </ion-item>
        </div>

        <div style="padding-left: 40px; padding-right: 40px">
          <ion-item>
            <ion-label style="font-family: verdana" position="floating">Repeat New Password</ion-label>
            <ion-input style="font-family: verdana" ngModel type="password" name="repeat_password"></ion-input>
          </ion-item>
        </div>

        <div style="padding-left: 40px; padding-right: 40px; padding-top: 60px">
          <ion-button type="submit" shape="round" fill="outline" expand="full" color="dark">Change Password</ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
